[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/05_pointers.git
[submodule "05_pointers_vs"]
	path = siuVic
	url = https://github.com/vs2961/05_pointers_vs.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/05_pointers.git
