[submodule "05_pointers_vs"]
	path = siuVic
	url = https://github.com/vs2961/05_pointers_vs.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/05_pointers.git
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/madness.git
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_05_pointers.git
[submodule "shenkerEth"]
	path = shenkerEth
	url = https://github.com/ethan-shenker/05_pointers_systems.git
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_05_that-way-madness-lies.git
[submodule "leeLuc"]
	path = leeLuc
	url = https://github.com/Lucas-Lee11/05_pointers
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/05_pointers.git
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/05_pointers_J.git
[submodule "linLei"]
	path = linLei
	url = https://github.com/llin11/05_pointers
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work05_pointers.git
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/Work05.git
[submodule "misquittaKri"]
	path = misquittaKri
	url = https://github.com/Kristoff1318/05-Pointers.git
[submodule "maoMad"]
	path = maoMad
	url = https://github.com/madelynxmao/05_pointers.git
[submodule "siniscalcoFra"]
	path = siniscalcoFra
	url = https://github.com/NopeSiniscalco/05_pointers_mks.git
[submodule "https:/github.com/mks65/05_pointers"]
	path = https:/github.com/mks65/05_pointers
	url = https://github.com/Kappachino-Latte/05_pointers_zhangAle
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/05_pointers_zhangAle
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/05_pointers.git
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_05_pointers.git
[submodule "vostrikovVla"]
	path = vostrikovVla
	url = https://github.com/villinoid/05_systems.git
[submodule "zhaoGav"]
	path = zhaoGav
	url = https://github.com/gzhao10/hw5.git
[submodule "waldAle"]
	path = waldAle
	url = https://github.com/SashaWald/05_work.git
[submodule "prasadAmi"]
	path = prasadAmi
	url = https://github.com/AmitPr/mks65c-05_pointers.git
[submodule "hathawayMay"]
	path = hathawayMay
	url = https://github.com/mayhathaway/systems-05.git
[submodule "05_pointers_kevidgel"]
	path = 05_pointers_kevidgel
	url = https://github.com/kevidgel/05_pointers_kevidgel.git
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/05_pointers_kevidgel.git
[submodule "luRan"]
	path = luRan
	url = https://github.com/RandyLu0/Work05
[submodule "sahaAbh"]
	path = sahaAbh
	url = https://github.com/AbhijeetSaha2142/05_pointers.git
[submodule "liuAli"]
	path = liuAli
	url = https://github.com/aliu889/05_pointers_.git
[submodule "hernandezCar"]
	path = hernandezCar
	url = https://github.com/KarlWithK/05_pointers_mks.git
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_05_pointers.git
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/05_pointers.git
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/05_pointers
[submodule "huMic"]
	path = huMic
	url = https://github.com/mks65/05_pointers.git
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/05_pointers_vj.git
[submodule "haoGan"]
	path = haoGan
	url = https://github.com/haotianGan/05_pointers
[submodule "chanSer"]
	path = chanSer
	url = https://github.com/schan11/chanSer.git
[submodule "zhengYul"]
	path = zhengYul
	url = https://github.com/yzheng10/05_Pointers.git
[submodule "zhouKel"]
	path = zhouKel
	url = https://github.com/KellyZhou223/05pointers.git
	branch = master
