[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/05_pointers.git
[submodule "05_pointers_vs"]
	path = siuVic
	url = https://github.com/vs2961/05_pointers_vs.git
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/05_pointers.git
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/madness.git
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/05_pointers
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_05_pointers.git
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_05_pointers.git
[submodule "shenkerEth"]
	path = shenkerEth
	url = https://github.com/ethan-shenker/05_pointers_systems.git
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_05_that-way-madness-lies.git
[submodule "leeLuc"]
	path = leeLuc
	url = https://github.com/Lucas-Lee11/05_pointers
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/05_pointers.git
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/05_pointers_J.git
[submodule "linLei"]
	path = linLei
	url = https://github.com/llin11/05_pointers
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work05_pointers.git
